.App {
  flex-direction: row;
  height: 100vh;
  font-family: Arial, sans-serif;
  background-color: rgb(239, 241, 243);
}

.navbar {
  flex: 1;
  background-color: rgb(166, 200, 240);
}

.logo {
  flex: 0 0 auto;
}

.logo img {
  width: 200px;
}

.column.left {
  width: 66.66%;
  padding: 15px;
}

.column.right { 
  width: 33.33%;
  padding: 15px;
}

.row {
  display: flex;
  justify-content: center;
}

h4 {
  margin-bottom: 15px;
}

button {
  border: none;
  background-color: rgb(57, 94, 169);
  font-size: medium;
  padding: 10px 20px;
  margin: 5px;
  color: white;
}

button:hover {
  background-color: rgb(104, 149, 201);
}

button:disabled {
  background-color: rgb(171, 192, 217);
  color: rgb(107, 120, 135);
  cursor: not-allowed;
}

.homeButton {
  float: left;
  color: rgb(35, 35, 117);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bolder;
  font-size: 16px;
  cursor: pointer;
}

#loginuser {
  margin-right: 20px;
  color: rgb(0, 0, 0);
  font-weight: bolder;
}