.container-dynamiczone {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin: 5px;
  margin-top: 30px; 
  padding: 30px;
  height: 82.5%;
  min-width: 300px;
  max-width: 300px;
}

h5 {
  margin-bottom: -15px;
}

.container-form>div {
  padding-top: 5px;
  margin-top: 30px; 
}

.row {
  display: flex;
}

.buttonrow {
  display: flex;
}

.left {
  flex: 1;
}

.right {
  flex: 1;
  margin-left: 10px;
}
