.container-fetch {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.displayBox {
    border: 1px solid black;
    padding: 10px;
    margin: 5px;
    margin-top: 30px;
    width: 33.33%;
}

.text {
    text-align: center;
}

ul {
    list-style: none;
}
