.row {
  display: flex;
  justify-content: center;
}

h1 {
  text-align: center;
}

.content {
  padding: 20px;
}

.container-fetch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(235, 241, 247);
}

.meme-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 300px;  
}

.theme-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 300px;
}

.text {
  text-align: center;
}

/* Likes */

.likes-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
  float: right; 
}

.likes {
  margin-right: 10px;
}

.button-like {
  float: right; 
  background-color: white;
}

.button-like:hover {
  background-color: rgb(185, 220, 243);
}

button-like:disabled {
  background-color: white;
  cursor: not-allowed;
}

.heart {
  height: 30px;
}
