.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(166, 200, 240);
}

.logo {
    flex: 0 0 auto;
}

.logo img {
    width: 200px;
}

.menu {
    flex-grow: 1;
}

.menu a {
    text-decoration: none;
    color: #000000;
}