.container-mainpage {
    display: flex;
}

.container-mainpage>div {
    border: 1px solid black;
    padding: 10px;
    margin: 5px;
    margin-top: 30px;    
    height: 500px;
    min-width: 450px;
}

.theme-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 300px;
    margin-top: 30px;
}

.mainpage-text {
    text-align: center;
}
