.topnav {
  display: flex;
  overflow: hidden;
  background-color: rgb(166, 200, 240);
}

.menu-link1,
.menu-link2,
.menu-link3 {
  color: rgb(35, 35, 117);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bolder;
  font-size: 16px;
  cursor: pointer;
}

.menu-link1:hover,
.menu-link2:hover,
.menu-link3:hover {
  color: #333;
}