
.container-postMeme {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.container-postMeme h1 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}

.container-postMeme p {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 30px;
}

.gallery { 
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;    
} 

.theme {
    /* border: 2px solid black; */
    width: 30%;
    height: auto;
    margin: 5px;
}

.theme img {
    width: 250px;
    height: auto;
    cursor: pointer;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.theme img:hover {
    transform: scale(1.1);
}

.memeText {
    /*
    width: 30%;
    float: left;
    */

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#newmeme-left {
    flex: 1;
}

#newmeme-right {
    flex: 1;
    margin-left: 20px;
}

.memeText textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    resize: none;
    font-size: large;
}

.memeText img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 350px;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

#button-newmeme {
    float: left;
}